.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 8px 16px;
  transition: background 0.3s, color 0.3s;
}

.nav a:hover {
  background-color: blue;
  color: #1e1e2f;
  border-radius: 4px;
}

table, th, td{
  border:#1e1e2f solid 1px;
}