* {
  color: rgb(165, 108, 42);
  text-align: center;
}

body {
  background: lightblue url("https://devsnap.nyc3.digitaloceanspaces.com/devsnap.me/codepen-gwkKwd.png")
              no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background: #007BFF;
  border: none;
  color: #fff;
  padding: 12px 28px;
  border-radius: 6px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #0056b3;
}
table, th, td{
  border:#1e1e2f solid 1px;
}